<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Выберите план</ng-template>
      <div class="container__plans">
        <div class="container__plans__search">
                  <form [formGroup]="searchPlanForm" class="filters">
                    <app-search-select
                      (click)="dispatchLoadAction('LOAD_GROUPS')"
                      [dataStream]="groups$"
                      formControlName="group"
                      placeholder="Группа"
                    ></app-search-select>

                    <mat-form-field>
                      <mat-select placeholder="Семестр" formControlName="semester">
                        <mat-option [value]="'осеннний'">Осенний</mat-option>
                        <mat-option [value]="'зимний'">Зимний</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                      <input
                    matInput
                    placeholder="Год"
                    formControlName="year"
                  />
                </mat-form-field>
              </form>
        </div>

        <div class="container__plans__cards">
          <mat-card *ngFor="let item of (groupPlans$ | async); let i = index" [attr.data-index]="i" class="container__plans__card">
            <div class="container__plans__info">
              <p>{{ item.group.name }}</p>
              <p>{{ item.semester }}</p>
              <p>{{ item.year }}</p>
            </div>
            <div class="container__plans__actions">
              <button mat-button matStepperNext>
                <mat-icon>done</mat-icon>
              </button>
            </div>

          </mat-card>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Выберите дисциплину</ng-template>
    <div class="container__subjects">
      <mat-radio-group>
        <mat-radio-button
          *ngFor="let planSubject of (planSubjects$ | async)"
          [value]="planSubject.id">
          {{ planSubject.subject.name}}
        </mat-radio-button>
      </mat-radio-group>

      <button mat-button matStepperNext>Далее</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ведомость</ng-template>
    <div class="container__marks">
      <table mat-table [dataSource]="journalForUpdate.studentMarks">
        <ng-container matColumnDef="student">
          <th mat-header-cell *matHeaderCellDef> ФИО студента </th>
          <td mat-cell *matCellDef="let element"> {{element.student.name}} </td>
        </ng-container>

        <ng-container matColumnDef="mark">
          <th mat-header-cell *matHeaderCellDef> Оценка </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-form-field>
              <input matInput value="{{element.mark}}" [(ngModel)]="journalForUpdate.studentMarks[i].mark">
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <button mat-button color="primary" (click)="update()">Обновить</button>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="stepper.reset()">Заново</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
