<form [formGroup]="authForm" (ngSubmit)="auth()">
  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email" />
    <mat-hint *ngIf="isFieldInvalid('email')">Поле обязательно</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input
      type="password"
      placeholder="Password"
      matInput
      formControlName="password"
    />
    <mat-hint *ngIf="isFieldInvalid('password')"
      >Поле обязательно</mat-hint
    >
    <mat-hint *ngIf="(authError$ | async)">Неверно введены данные</mat-hint>
  </mat-form-field>

  <button mat-button color="primary" [disabled]="authForm.invalid">
    Войти
  </button>
</form>
