<form [formGroup]="authForm" (ngSubmit)="auth()">
  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email" />
    <mat-hint *ngIf="isFieldInvalid('email')">This field is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input
      type="password"
      placeholder="Password"
      matInput
      formControlName="password"
    />
    <mat-hint *ngIf="isFieldInvalid('password')"
      >This field is required</mat-hint
    >
    <mat-hint *ngIf="(authError$ | async)">Incorrect</mat-hint>
  </mat-form-field>

  <button mat-button color="primary" [disabled]="authForm.invalid">
    Login
  </button>
  <button mat-button color="primary" (click)="toSignUp()">
    Sign Up
  </button>
</form>
